.badge {
  color: white;
  background-color: var(--blue);
  font-weight: 600;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
